{% extends 'base.html' %}

{% block title %}Articles{% endblock title %}

{% block content %}
    {% for a in articles %}
        <div class="card">
            <div class="card-header">
                <span class="font-weight-bold"><a href="{% url 'article_detail' a.pk %}">{{ a.title }}</a></span>
                <span class="text-muted">by {{ a.author }} | {{ a.date }}</span>
            </div>
            <div class="card-body">
                <p>{{ a.body }}</p>
                <a href="{% url 'article_edit' a.pk %}">Edit</a> |
                <a href="{% url 'article_delete' a.pk %}">Delete</a>
            </div>
            <div class="card-footer">
                {% for comment in a.comments.all %}
                    <p>
                        <span class="font-weight-bold">{{ comment.author }} &middot;</span>
                        {{ comment }}
                    </p>
                {% endfor %}
            </div>
        </div>
        <br>
    {% endfor %}
{% endblock content %}